*{margin: 0px;outline: none;}
html, body
{
	background-color: transparent;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: 'Segoe UI', Tahoma, 'Microsoft Yahei UI', sans-serif;
	font-size: 18px;
	font-weight: 100;
	color: #ffffff;
}
a, a:link, a:visited{color: inherit;}
a:hover{font-weight: 400;}
input
{
	font-family: 'Segoe UI', Tahoma, 'Microsoft Yahei UI', sans-serif;
	font-size: 14px;
	color: 	#33CC99;
	border: none;
	border-radius: 22px;
	padding: 8px 16px 8px 16px;
	margin: 12px;
	background-color: rgb(0,0,0);
	backdrop-filter: blur(15px);
}
input[type="submit"]{display: none;}
input[type="text"]{width: calc(80% - 10px);text-align: center;}
#notice
{
	background-color: #0067b8;
	color: #ffffff;
	display: none;
	height: 24px;
	width: 100vw;
	font-size: 14px;
	text-align: center;
}
#bg
{
	background-image: url(https://www.yangshangzhen.com/bing/wallpaper);
	background-color: #353535;
	background-size: cover;
	position: fixed;
	z-index: -1;
	width: 100vw;
	height: 100vh;
}
#search
{
	display: inline-block;
	vertical-align: top;
	padding: 15vh 0vh 15vh 0vh;
	text-align: center;
	height: 100vh;
	width: 40vw;
	background-color: rgba(200, 200, 200, 0.3);
	backdrop-filter: blur(15px);

	z-index: 1;
	position: fixed;
}
#datetime{font-size: 48px; margin: 0px 100px 18px 100px}
#buttons
{
	display: inline-block;
	vertical-align: top;
	height: 100vh;
	width: 60vw;
	margin-left: none;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: transparent;

	z-index: 0;
	position:fixed;
	margin-left: 40%;
}
#buttons a
{
	display: inline-block;
	text-decoration: none;
	width: 98px;
	height: 18px;
	background-color: rgba(200, 200, 200, 0.3);
	backdrop-filter: blur(15px);
	margin: 20px;
	padding: 36px 0px 44px 0px;
	text-align: center;
	border-radius: 15px;
	vertical-align: top;
}
#buttons a:hover
{
	padding: 40px 4px 48px 4px;
	margin: 16px;
	background-color: rgba(200, 200, 200, 0.2);
	transition: all 0.6s;
}
#buttons p{margin: 16px;}
#about{margin-top: 24px;font-size: 15px;line-height: 24px;}
#about span{display: inline-block; margin: auto 8px auto 8px;}
summary{cursor: help;}
